<div class="form">  
    <h1 class="text">Centro de Mensajes</h1>  
    <form class="form-control" onsubmit="return addMessage(this)">
      <input type="text" id="mail" placeholder="email" required>
      <input type="text" id="mensaje" placeholder="Ingresa un mensaje...">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <div id="mensajes"></div>
</div>