<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./Views/partials/head.ejs'); %>
    </head>
    <body>
        <%- include('./Views/partials/form.ejs'); %>
        <%- include('./Views/partials/tabla.ejs'); %>
        <%- include('./Views/partials/messages.ejs'); %>
    </body>

    <style>
        form, .table {
            margin: 0 auto;
            width: 50%;
        }
        body {
            background-color: #2b023b;
        }
        th, td, .text {
            color: white;
        }
        .btn {
            background-color: #e9b0ff;
            color: #2b023b;
            border-color: #2b023b;
        }
        .btn:hover {
            background-color: #2b023b;
            color: #e9b0ff;
            border-color: #e9b0ff;
        }
      </style>
</html>