<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Views/partials/head.ejs'); %>
</head>
<body>
  <div class="div-btn">
    <a href="/">
        <button class="btn btn-secondary">Cargar producto</button>
    </a>
  </div>
  <%- include('./Views/partials/tabla.ejs'); %>
</body>
</html>