<div class="chat_window">
    <h1 class="text">Centro de mensajes</h1>
    <div class="bottom_wrapper clearfix">
        <div class="messages" id="messages"></div>
        <form action="/message" method="post" onsubmit="return addMessage(this)" class="form">          
            <div class="message-bar">
                <input class="form-control" id="author" type="text" placeholder="Type your email here..." required/>
                <input class="form-control" id="text" placeholder="Type your message here..." />        
                <input class="btn" type="submit" value="Enviar"> 
            </div>
        </form>
    </div>
</div>