<div class="chat_window">
    <h1 class="text">Centro de mensajes</h1>
    <div class="bottom_wrapper clearfix">
        <div class="messages" id="messages"></div>
        <form action="/message" method="post" onsubmit="return addMessage(this)" class="form">          
            <div class="message-bar">
                <input class="form-control" id="email" type="text" placeholder="Type your email here..." required/>
                <input class="form-control" id="text" placeholder="Type your message here..." />        
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>